html {
	background: #333333;
	/*height: 100%;*/
}

body {
	margin: 0px;
	padding: 0px;
	background: #333333;
}

#content {
	width: 66%;
	height: 100%;
	background: #FEFEFE;
	margin: 0px auto;
	padding: 50px 100px;	
}

h1 {
	margin-top: 0px;
	font-size: 48px;
	font-family: sans-serif;
}

h2 {
	/*font-family: sans-serif;*/
}

p {
	font-size: 22px;
}

#teaser {
	font-size: 26px;
}

#links a {
	text-align: center;
	font-size: 24px;
	color: black;
}

#links {
	text-align: center;
}

.artDemo {
	max-width: 300px;	
	max-height: 300px;
	margin: 0px;
	top: 10px;
	vertical-align: middle;
}

.graphicDemo {
	padding: 30px 0px;
	max-height: 1300px;
	max-width: 1300px;
	margin: 0px;
	background: #333333;
	text-align: center;	
}


span.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

div.artSet {
	display: inline-block;
}

img.icon {
	height: 100px;
	width: 100px;
}

audio {
	display: inline;
}

#downloads{
	margin: 0px auto;
}

td {
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	text-align: center;
	padding: 10px;
}

.dlinks {
	margin: 0px auto;
	font-size: 22px;
}


th {
	font-size: 22px;
}
